@model DemoMvc4.Models.PayrollExample
@{
    ViewBag.Title = "Payroll";
}

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">@ViewBag.Title</a>
        <ul class="nav">
            <li><a href="#">Back to Examples</a></li>
            <li class="active"><a href="#">Payroll Data</a></li>
            <li class="btn-success"><a class="btn-text-white" href="#">Download PDF</a></li>
            <li class="btn-info"><a class="btn-text-white" href="#">Download XML</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="span11">
                        <div class="row">
                            <div class="span2 offset1 text-left">
                                <dl>
                                    <dt><small><i>Personel number</i></small></dt>
                                    <dd>@Model.PersonnelNumber</dd>
                                </dl>
                            </div>
                            <div class="span6 text-left">
                                <dl>
                                    <dt><small><i>Person name</i></small></dt>
                                    <dd>@Model.PersonnelName</dd>
                                </dl>
                            </div>
                            <div class="span2 text-right">
                                <dl>
                                    <dt><small><i>Period</i></small></dt>
                                    <dd>@Model.PeriodDescription</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1 text-left">
                                <dl>
                                    <dt><small><i>Department</i></small></dt>
                                    <dd>@Model.PersonnelDepartment</dd>
                                </dl>
                            </div>
                            <div class="span6 text-left">
                                <dl>
                                    <dt><small><i>Company</i></small></dt>
                                    <dd>@Model.PersonnelCompany</dd>
                                </dl>
                            </div>
                            <div class="span2 text-right">
                                <dl>
                                    <dt><small><i></i></small></dt>
                                    <dd>Paycheck</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="span11">
                        <div class="row">
                            <div class="span5 offset1">
                                @foreach (var detail in Model.ExportPart3L)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="span5">
                                @foreach (var detail in Model.ExportPart3R)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="span11">
                        <div class="row">
                            <div class="span5 offset1">
                                @foreach (var detail in Model.ExportPart1L)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="span5">
                                @foreach (var detail in Model.ExportPart1R)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="span11">
                        <div class="row">
                            <div class="span5 offset1">
                                @foreach (var detail in Model.ExportPart2L)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="span5">
                                @foreach (var detail in Model.ExportPart2R)
                                {
                                    <div class="row">
                                        <div class="span3 text-left">
                                            <img src="~/Content/images/@DemoMvc4.Models.PayrollExample.ImageFromDetails(detail)" class="image-circle image-ikona" />
                                            @DemoMvc4.Models.PayrollExample.TitleFromDetails(detail)
                                        </div>
                                        <div class="span2 text-right">@DemoMvc4.Models.PayrollExample.ValueFromDetails(detail)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span10 offset1 text-center">
                    Paycheck details by Mzdy Hravě - Online payroll
                    agenda
                </div>
            </div>
        </div>
    </div>
    <p />
</div>
