@model IEnumerable<DemoMvc4.Models.ExampleSpec>
@{
    ViewBag.Title = "Examples";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">Try yourself some payroll examples. We care about simplicity. Just a few clicks to get payroll from timesheet to direct deposit. All done with easy, completely and accurately. Your staff will love it.</p>
<ul class="thumbnails">
    @foreach (var example in Model)
    {
    <li class="span3">
        <a class="thumbnail" href="@Url.Action("Example", "Payroll", new {Id = @example.Id})">
            <img src="~/Content/images/@example.Placeholder" alt="">
        </a>
        <h4>@example.Name</h4>
        <dl>
            <dt>Payroll classification</dt>
            @foreach (var descript in example.Description)
            {
            <dd>@descript</dd>
            }
        </dl>
    </li>
    }
</ul>
